
<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a href="" class="navbar-brand">ShopApp</a>
      <ul class="navbar-nav mr-auto">
        <li class="navbar-nav">
          <a routerLink="/shop" class="nav-link active">Home</a>
        </li>    
        <li class="navbar-nav">
          <a routerLink="/cart" class="nav-link">Cart</a>
        </li>
        <li class="navbar-nav">
          <a routerLink="/shop" class="nav-link">Orders</a>
        </li>
        <li class="navbar-nav">
          <a routerLink="/admin/main" class="nav-link">Admin</a>
        </li> 
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="navbar-nav">
          <a href="" class="nav-link">Login</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link">Register</a>
        </li>
        <li class="navbar-nav">
          <a href="" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>