<navbar></navbar>

<div class="container pt-100 mb-5">
    <div class="row">
        <div class="col-3">

            <cart-summary></cart-summary>

            <category-list (category)="getCategory($event)"></category-list>

        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <div class="form-inline float-right m-0 p-0">
                            <select class="form-control-sm"
                                [value]="productsPerPage"
                                (change)="changePageSize($event)">
                                <option value="1">1 tane</option>
                                <option value="2">2 tane</option>
                                <option value="3">3 tane</option>
                                <option value="4">4 tane</option>
                                <option value="5">5 tane</option>
                            </select>
                        </div>
                        {{ selectedProducts.length }} tane ürün bulundu.
                    </div>
                </div>  
            </div>      

            <product-list [products]="products"></product-list>

            <div class="row mt-3">
                <div class="col">
                    <div class="btn-group">
                        <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
                            class="btn btn-outline-primary" [class.active]="page==selectedPage">
                            {{ page }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>